body {
    font-size: 14px;
}

.search-container {
    position: relative;
}
.main-promote {
    background-color: rgba(0,0,0,.04);
}


.main-promote .side-bar {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 220px;
    height: 450px;
    background-color: rgba(0,0,0,.5);
    z-index: 999;
}

 .main-promote .side-bar .item  {
     width: 100%;
     color: #fff;
     padding: 14px 40px;
}

 .main-promote .side-bar .item:hover,
 .search-card .item:hover {
    background-color:rgba(0,0,0,.6);

}

.car-promote {
   margin-bottom: 20px;
}

 .car-promote .title {
    padding: 5px;
    font-size: 30px;
}

 .car-promote .item {
    padding: 5px;
}


 .car-promote .title:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 5px;
    height: 22px;
    background-color: rgb(247, 150, 59);
    margin-right: 5px;
}

 .car-promote .card {
    height: 350px;
    background-color: rgba(0,0,0,.02);
    border-radius: 5px;
    box-shadow: 0 2px 2px rgba(0,0,0,.1);

}

 .car-promote  .card .card-img {
    height: 250px;
    padding: 10px 40px;
}

 .car-promote  .card-content .status,
 .car-promote .card-content .price{
    padding: 4px 15px;
}

 .car-promote .card-content .status a {
    font-size: 14px;
    color: #000;
}

 .car-promote .card-content .status a:hover {
    color:#000;
}

 .car-promote .card-content .price {
    font-size: 16px;
    font-weight: bold;
    color: red;
}

.main-promote .wrap {
    /* 浏览器bug? */
    width: 1226px;
    height: 450px;
    position: relative;
}

.main-promote .wrap .list {
    width: 1270px;
    height: 450px;
    list-style: none;
    position: relative;
    padding-left: 0px;
}

.main-promote .wrap .carousel-item {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all .5s;
}

.main-promote .wrap .carousel-item.active {
    opacity: 1;
    z-index: 10;
}

.main-promote .wrap .list img {
    width: 100%;
    height: 100%;
}

.main-promote .carousel-btn{
    width: 50px;
    height: 60px;
    position: absolute;
    top: 175px;
    z-index: 100;
    background: rgba(0,0,0,0.05);
    text-align: center;
    line-height: 60px;
    color: #fff;
    opacity: 0;
    transition: all .5s;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: contain;
}

.wrap:hover .carousel-btn {
    opacity: 1;
}

#goPre {
    left: 220px;
    background-image: url(../images/left-r.svg);
}

#goNext {
    right: 0px;
    background-image: url(../images/right-r.svg);
    background-position-x: 13px;
}

.pointList {
    padding-left: 0px;
    list-style: none;
    position: absolute;
    right: 20px;
    bottom: 20px;
    z-index: 1000;
}

.point {
    width: 10px;
    height: 10px;
    background-color: rgba(0,0,0,.4);
    border-radius: 100%;
    float: left;
    margin-left: 14px;
    border: 2px solid rgba(255,255,255,.6);
    cursor:pointer;
}

.point.active {
    background-color: rgb(237, 97, 247);
}



