.personal {
    background: #f5f5f5;
    overflow: hidden;
}
.personal .container {
    min-height: 600px;
    padding: 10px;
    margin: 20px auto;
}

.personal .sidebar {
    float: left;
    width: 200px;
    min-height: 450px;
    background: #fff;
}

.personal .sidebar .item {
    text-align: center;
    padding: 10px 0;
    cursor: pointer;
    display: block;
    color: #000;
}

.personal .sidebar .item.acitve {
    font-size: 18px;
    background: rgba(204,239,234);
    color: #fff;
}

.personal .content {
    padding: 10px;
    background: #fff;
    float: right;
    width: 1030px;
    min-height: 500px;
}

.personal .content h1 {
    color: #757575;
    margin-bottom: 20px;
}

.personal .info {
    margin-top: 20px;
    font-size: 16px;
}

.personal .info .item {
    padding: 13px;
    border: 1px solid #000;
    margin-bottom: 12px;
}

.personal .order .item {
    margin-bottom: 12px;
}

.personal .order .item .base_info,
.personal .order .item .detail_info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #000;
    padding: 20px;
}

.personal .order .item .detail_info {
    border-top: none;
}

.base_info .base_info_l .status {
    margin-bottom: 12px;
    font-size: 18px;
}

.base_info .money .value {
    font-size: 22px;
    font-weight: bold;
    color: #c50606;
}

.detail_info .detial_btn {
    cursor: pointer;
    padding: 10px 30px;
}

.detail_info .detial_btn:hover {
    background-color: rgba(0,0,0,.1);
    color: #757575;
}