* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-width: 1386px;
    font-family: 'Microsoft YaHei';
}

a {
    text-decoration: none;
    max-width: 100%;
}
a:hover {
    text-decoration: none;
}
img {
    width: 100%;
    height: 100%;
}
button {
    outline: none !important;
}
.fl {
    float: left;
}

.fr {
    float: right;
}

/*common */
ul {
    padding: 0;
    margin: 0;
}

ul li {
    list-style: none;
}

.container{
    width: 1266px;
    margin: 0 auto;
}

a{
    text-decoration:none;
}

/* common footer */
.footer {
    padding-bottom: 20px;
    background: #32333b;
    color: #a8aaba;
}
.footer a{
    color: #a8aaba;
}
.footer a:hover{
    color: red;
}

.footer .item-warp {
    margin-top: 20px;
}

.footer .item-warp .item:first-child {
    width: 750px;
    margin-right: 10px;
}

.footer .item-warp .item:last-child {
    width: 420px;
    margin-left: 10px;
}

.footer .item-warp .item .content {
    line-height: 30px;
}

.footer .link {
    margin-top: 20px;
    border-top: 1px solid #41424c;
    border-bottom: 1px solid #41424c;
}

.footer .link ul li {
    padding: 20px;
    display: inline-block;
}

.footer .link ul li:first-child {
    padding-left: 0;
}

.footer .link ul li:last-child {
    padding-right: 0;
}

.footer .item-warp {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.footer .logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer .logo .item:first-child {
    width: 750px;
    margin-right: 10px;
}

.footer .logo .item:last-child {
    width: 420px;
    margin-left: 10px;
}

.footer .logo .item .school-logo{
    width: 250px;
}

.footer .logo .item .school-wx{
    width: 100px;
}


/**
common topNav
 */

.top-nav {
    background-color: #333;
}

.top-nav .item {
    display: inline-block;
    padding: 10px 15px;
    color: #ffffff;
}

.top-nav .item:hover {
    color: #ff4466bf;
}

.top-nav .fr .item {
    display: none;
}

.top-nav .container {
    color: #ffffff;
}

.shopping-cart {
    background: #f46;
}

.shopping-cart:hover{
    color: #ffffff!important;
    background:  #ff4466bf ;
}


/* common header */
.header {
    height: 100px;
}

.header .header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .logo {
    width: 130px;
}

.header .search-form input {
    outline: none;
    float: left;
    width: 300px;
    height: 40px;
    line-height: 48px;
    border: none;
    font-size: 14px;
    background: #f7f7f7;
    color: #8b8b8b;
    padding: 0 15px;
    border-radius: 5px 0 0 5px;
}

.header .search-form .search-btn {
    outline: none;
    width: 50px;
    height: 40px;
    border: none;
    cursor: pointer;
    color: #ffff;
    background: #ababab;
    border-radius: 0 5px 5px 0;
    background-size: 100%;
}

.header .search-form .search-btn:hover {
    background: #f46;
    transition: 1s;
}


